<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyFirstWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>sample</servlet-name>
    <servlet-class>com.as.samples.Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sample</servlet-name>
    <url-pattern>/sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome1Servlet</display-name>
    <servlet-name>Welcome1Servlet</servlet-name>
    <servlet-class>com.as.samples.Welcome1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome1Servlet</servlet-name>
    <url-pattern>/ws1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Name</display-name>
    <servlet-name>Name</servlet-name>
    <servlet-class>com.as.samples.Name</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Name</servlet-name>
    <url-pattern>/Name</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>address</display-name>
    <servlet-name>address</servlet-name>
    <servlet-class>com.as.samples.address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>address</servlet-name>
    <url-pattern>/address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankInformation</display-name>
    <servlet-name>BankInformation</servlet-name>
    <servlet-class>com.as.samples.BankInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankInformation</servlet-name>
    <url-pattern>/BankInformation</url-pattern>
  </servlet-mapping>
</web-app>